.img {
    height: 235px;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.img img {
    width: 100%;
}

.title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
    text-align: center;
    color: var(--main-color-2);
}

.content {
    background-color: var(--background-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px 15px;
}

.description {
    text-align: center;
    color:var(--main-color);
}