.wrapper {
    width: calc(100% / 3);
    position: relative;
    font-size: 18px;
    text-align: center;
    border-right: 2px solid var(--main-color-2);
    padding: 0 15px;
    font-weight: 600;
}

.title_wrapper span {
    color: var(--main-color-2);
    margin-left: 5px;
    font-weight: 600;
    font-size: 20px;
}

.title_wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;


}

/*.wrapper:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    right: 35px;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    width: 2px;*/
/*    background-color: var(--main-color-2);*/

/*}*/
.wrapper:nth-child(3n) {
    border-right: 0;
}

.content p{
    margin: 5px 0;
}